@import _root_.gov.tubitak.eu.lightest.minderadapters._
@()(implicit adapterContainer: MinderAdapterContainer)

@main("LIGHTest Minder Bridge") {
  <h1>Welcome to the LIGHTest Minder Bridge!</h1>


  <h2>Adapter States:</h2>


  <h3>ATV Adapter: </h3>

  @if(adapterContainer.atvAdapter == null) {
    <span class="label label-warning">NOT CONNECTED</span>
  } else {
    <span class="label label-success">CONNECTED</span>
  }

  <h3>ATV End User Adapter: </h3>
  @if(adapterContainer.atvEndUserAdapter == null) {
    <span class="label label-warning">NOT CONNECTED</span>
  } else {
    <span class="label label-success">CONNECTED</span>
  }
}
